<header class="site-header">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand" href="/">Multi-Tools</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="imageToolsDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Image Tools
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="imageToolsDropdown">
                            <li><a class="dropdown-item" href="/tools/image/image-to-png.html">Image to PNG</a></li>
                            <li><a class="dropdown-item" href="/tools/image/image-to-jpg.html">Image to JPG</a></li>
                            <li><a class="dropdown-item" href="/tools/image/image-resizer.html">Image Resizer</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="seoToolsDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            SEO Tools
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="seoToolsDropdown">
                            <li><a class="dropdown-item" href="/tools/seo/meta-tag-generator.html">Meta Tag Generator</a></li>
                            <li><a class="dropdown-item" href="/tools/seo/keyword-density.html">Keyword Density</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="textToolsDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Text Tools
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="textToolsDropdown">
                            <li><a class="dropdown-item" href="/tools/text/word-counter.html">Word Counter</a></li>
                            <li><a class="dropdown-item" href="/tools/text/case-converter.html">Case Converter</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">All Tools</a>
                    </li>
                </ul>
                <form class="d-flex">
                    <input class="form-control me-2" type="search" placeholder="Quick search..." aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
            </div>
        </div>
    </nav>
</header>